In [1]:
!wget https://raw.githubusercontent.com/coll-j/Tugas-KK/master/Minggu-5/dataset-car-40-row.csv

--2020-11-02 04:27:43--  https://raw.githubusercontent.com/coll-j/Tugas-KK/master/Minggu-5/dataset-car-40-row.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4628 (4.5K) [text/plain]
Saving to: ‘dataset-car-40-row.csv’

dataset-car-40-row. 100%[===================>]   4.52K  --.-KB/s    in 0s

2020-11-02 04:27:43 (52.5 MB/s) - ‘dataset-car-40-row.csv’ saved [4628/4628]

In [113]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from functools import partial
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
import random

In [5]:
df = pd.read_csv('dataset-car-40-row.csv', sep=';')
df.head()

   Make Year  Engine Fuel Type Engine HP  ...  highway MPG city mpg Popularity   MSRP
0  Audi  Old  regular unleaded       Low  ...          Low      Low       High  Cheap
1  Audi  Old  regular unleaded       Low  ...          Low      Low       High  Cheap
2  Audi  Old  regular unleaded       Low  ...          Low      Low       High  Cheap
3  Audi  Old  regular unleaded       Low  ...          Low      Low       High  Cheap
4  Audi  New            diesel       Low  ...         High     High       High  Cheap

[5 rows x 15 columns]

In [6]:
# Define the calculate entropy function
def calculate_entropy(df_label):
    classes,class_counts = np.unique(df_label,return_counts = True)
    entropy_value = np.sum([(-class_counts[i]/np.sum(class_counts))*np.log2(class_counts[i]/np.sum(class_counts)) 
                        for i in range(len(classes))])
    return entropy_value

In [7]:
# Define the calculate information gain function
def calculate_information_gain(dataset,feature,label): 
    # Calculate the dataset entropy
    dataset_entropy = calculate_entropy(dataset[label])   
    values,feat_counts= np.unique(dataset[feature],return_counts=True)
    
    # Calculate the weighted feature entropy                                # Call the calculate_entropy function
    weighted_feature_entropy = np.sum([(feat_counts[i]/np.sum(feat_counts))*calculate_entropy(dataset.where(dataset[feature]
                              ==values[i]).dropna()[label]) for i in range(len(values))])    
    feature_info_gain = dataset_entropy - weighted_feature_entropy
    return feature_info_gain

In [48]:
# Define the create decision tree function
def create_decision_tree(dataset, df, features, label, parent):
    
    datum = np.unique(df[label], return_counts = True)
    unique_data = np.unique(dataset[label])
    # print('len features', len(features))
    if len(unique_data) <= 1:
        return unique_data[0]
    
    elif len(dataset) == 0:
        return unique_data[np.argmax(datum[1])]
    
    elif len(features) == 0:
        return parent
    
    else:
        parent = unique_data[np.argmax(datum[1])]
        
        item_values = [calculate_information_gain(dataset, feature, label) for feature in features]
        
        optimum_feature_index = np.argmax(item_values)
        optimum_feature = features[optimum_feature_index]
        decision_tree = {optimum_feature:{}}
        features = [i for i in features if i != optimum_feature]
        
        for value in np.unique(dataset[optimum_feature]):
            min_data = dataset.where(dataset[optimum_feature] == value).dropna()
            
            min_tree = create_decision_tree(min_data, df, features, label, parent)
            
            decision_tree[optimum_feature][value] = min_tree
        
        return (decision_tree)

In [110]:
# Define the predict function
def predict(test_data, decision_tree):
    for nodes in decision_tree.keys():
        value = test_data[nodes]
        if value in decision_tree[nodes].keys():
          decision_tree = decision_tree[nodes][value]
        else:
          decision_tree = decision_tree[nodes][random.choice(list(decision_tree[nodes].keys()))]
        
        prediction = 0
        if type(decision_tree) is dict:
            prediction = predict(test_data, decision_tree)
        else:
            prediction = decision_tree
            break
            
    return prediction

In [115]:
def predict_multiple(input, decision_tree, print_each=False):
  predictions = []
  for i in range(len(input)):

    prediction = predict(input.iloc[i, :], decision_tree)
    predictions.append(prediction)

    if print_each:
      print('Input Data: ')
      print(input.iloc[i, :])
      
      print('Prediction: ')
      print(prediction)
      print()

  return predictions

In [34]:
oe = OrdinalEncoder()
X_enc = df.drop('MSRP', axis=1)
X_enc = oe.fit_transform(X_enc)
y = df.iloc[:, -1]

In [36]:
discrete_feat_idx = [0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13]
bestfeatures = SelectKBest(partial(mutual_info_classif, discrete_features=discrete_feat_idx), k='all')
fit = bestfeatures.fit(X_enc, y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(df.columns[:-1])
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(4,'Score'))  #print 10 best features

              Specs     Score
0              Make  0.392889
3         Engine HP  0.392769
1              Year  0.239931
2  Engine Fuel Type  0.214667

In [118]:
# Set the features and label
features = ['Make', 'Engine HP', 'Year', 'Engine Fuel Type']
label = 'MSRP'
parent=None
df_train, df_test = train_test_split(df, test_size=0.25)
len(df_train)

30

In [119]:
# Train the decision tree model
decision_tree = create_decision_tree(df_train,df_train,features,label,parent)

In [120]:
df_test_sliced = df_test[features]

In [126]:
sample_data = {'Make':'Nissan', 'Engine HP':'Low', 'Year':'Old', 'Engine Fuel Type':'regular unleaded'}
test_data = pd.Series(sample_data)
prediction = predict_multiple(df_test_sliced, decision_tree)

df_test_sliced['prediction'] = prediction
df_test_sliced['Real value'] = df_test.iloc[:, -1]
df_test_sliced

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             Make Engine HP Year  Engine Fuel Type prediction Real value
1            Audi       Low  Old  regular unleaded      Cheap      Cheap
33         Nissan       Low  Old  regular unleaded      Cheap      Cheap
37         Nissan      High  New  regular unleaded  Expensive      Cheap
30  Mercedes-Benz       Low  Old            diesel      Cheap      Cheap
22          Mazda       Low  New  regular unleaded      Cheap      Cheap
4            Audi       Low  New            diesel      Cheap      Cheap
8             BMW      High  New  premium unleaded  Expensive  Expensive
15            BMW       Low  New  premium unleaded  Expensive      Cheap
26  Mercedes-Benz       Low  Old  regular unleaded      Cheap      Cheap
10            BMW    Medium  New  premium unleaded  Expensive  Expensive

In [93]:
decision_tree

{'Make': {'Audi': 'Cheap',
  'BMW': 'Expensive',
  'Chrysler': {'Engine HP': {'High': {'Year': {'New': {'Engine Fuel Type': {'regular unleaded': 'Cheap'}}}},
    'Medium': 'Cheap'}},
  'FIAT': 'Cheap',
  'Mercedes-Benz': 'Cheap',
  'Nissan': {'Engine HP': {'High': {'Engine Fuel Type': {'premium unleaded': 'Expensive',
      'regular unleaded': {'Year': {'New': 'Cheap'}}}},
    'Low': 'Cheap'}},
  'Volvo': 'Cheap'}}